{% extends "layout.html" %}

{% block content %}
  <div class="container">
    <div class="main-content">
      <br>
      <h1>Your Health, Your BMI</h1>
      <p>
        Welcome to our BMI Calculator! Body Mass Index (BMI) is a helpful measure
        to understand how your weight relates to your height. It's a simple tool
        that can give you insights into your health.
      
        To discover your BMI, input your age, gender, weight (in kilograms), and height (in
        centimeters) below:
      </p>

      <div class="content-section-container">
        <div class="content-section">
          <div class="container">
            <div class="box">
              <h1>BMI Calculator</h1>
              <br>
              <div class="content">
                <form class="pure-form" method="POST" action="/bmi_calc" id="bmi-form">
                  <div class="input">
                    <label for="ageInput">Age</label>
                    <input type="text" name="age" id="ageInput" placeholder="Enter your age" required/>
                  </div>

                  <div class="gender">
                    <label class="container">
                      <input type="radio" name="gender" id="male" value="male"><p class="text">Male</p>
                      <span class="checkmark"></span>
                    </label>

                    <label class="container">
                      <input type="radio" name="gender" id="female" value="female"><p class="text">Female</p>
                      <span class="checkmark"></span>
                    </label>
                  </div>

                  <div class="containerHW">
                    <div class="inputW">
                      <label for="weightInput">Weight(kg)</label>
                      <input type="number" id="weightInput" placeholder="Enter your weight" required>
                    </div>

                    <div class="inputH">
                      <label for="heightInput">Height(cm)</label>
                      <input type="number" id="heightInput" placeholder="Enter your height" required>
                    </div>
                  </div>

                  <button type="button" class="calculate" onclick="calculateBMI()">
                    Calculate BMI
                  </button>
                </form>

                <div id="resultSection" class="result" style="display: none;">
                  <p><br>Your BMI is 
                  <div id="resultValue">0.00</div>
                  </p>
                  <p>You fall into the category of <span id="bmiCategory"></span></p>
                </div>

                <div class="input">
                  <label for="countrySelect">Select Country</label>
                  <select id="countrySelect" name="country">
                      <option value="" disabled selected>Select a country</option>
                  </select>
                </div>

                <div id="averageBMISection" class="result" style="display: none;">
                  <p><br>Average BMI for <span id="selectedCountry"></span>:</p>
                  <div id="averageBothSexesValue">0.00</div>
                  <p>Average BMI for <span id="selectedGender"></span>:</p>
                  <div id="averageSelectedGenderValue">0.00</div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="myModal" class="modal">
    <div class="modal-content">
      <span class="close" onclick="closeModal()">&times;</span>
      <p id="modalText"></p>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

  <script>
      function displayAverageBMI(averageBMIBothSexes, averageBMISelectedGender) {
          var averageBMISection = $('#averageBMISection');
          var selectedCountry = $('#selectedCountry');
          var averageBothSexesValue = $('#averageBothSexesValue');
          var selectedGender = $('#selectedGender');
          var averageSelectedGenderValue = $('#averageSelectedGenderValue');

          averageBMISection.show();
          selectedCountry.text($('#countrySelect option:selected').text());
          averageBothSexesValue.text(averageBMIBothSexes.toFixed(2));
          selectedGender.text($('input[name="gender"]:checked').siblings('.text').text());
          averageSelectedGenderValue.text(averageBMISelectedGender.toFixed(2));
      }

      function fetchAndDisplayAverageBMI() {
        var selectedCountry = $('#countrySelect').val();
        var selectedGender = $('input[name="gender"]:checked').val();

        if (selectedCountry && selectedGender) {
            $.ajax({
                url: '/get_average_bmi',
                type: 'GET',
                data: {
                    country: selectedCountry,
                    gender: selectedGender
                },
                dataType: 'json',
                success: function (data) {
                    displayAverageBMI(data.both_sexes, data[selectedGender]);
                },
                error: function (error) {
                    console.error('Error fetching average BMI:', error);
                }
            });
        }
    }

      function fetchCountries() {
        $.ajax({
            url: '/get_countries',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                var countrySelect = $('#countrySelect');
                countrySelect.empty(); 

                $.each(data.countries, function (index, country) {
                    countrySelect.append($('<option>', {
                        value: country,
                        text: country
                    }));
                });
            },
            error: function (error) {
                console.error('Error fetching countries:', error);
            }
        });
    }

    $(document).ready(function () {
        fetchCountries();
        fetchAndDisplayAverageBMI();

        $('#countrySelect, input[name="gender"]').change(function () {
        fetchAndDisplayAverageBMI();
        });
    });

    function calculateBMI() {
      var ageInput = document.getElementById("ageInput");
      var heightInput = document.getElementById("heightInput");
      var weightInput = document.getElementById("weightInput");
      var male = document.getElementById("male");
      var female = document.getElementById("female");
      var resultSection = document.getElementById("resultSection");

      var modal = document.getElementById("myModal");
      var modalText = document.getElementById("modalText");

      if (
        ageInput.value == "" ||
        heightInput.value == "" ||
        weightInput.value == "" ||
        (male.checked == false && female.checked == false)
      ) {
        modal.style.display = "block";
        modalText.innerHTML = `All fields are required!`;
      } else {
        displayResult();
      }
    }

    function displayResult() {
      var ageInput = document.getElementById("ageInput");
      var heightInput = document.getElementById("heightInput");
      var weightInput = document.getElementById("weightInput");
      var male = document.getElementById("male");
      var female = document.getElementById("female");
      var resultSection = document.getElementById("resultSection");
      
      if(heightInput.value == "" || weightInput.value == ""){
        var bmi = 0;
      }
      else{
        // Calculate BMI
        var bmi = Number(weightInput.value) / ((Number(heightInput.value) / 100) * (Number(heightInput.value) / 100));
      }
      
      var result = "";
      if (bmi < 18.5) {
        result = "Underweight";
      } else if (18.5 <= bmi && bmi <= 24.9) {
        result = "Healthy";
      } else if (25 <= bmi && bmi <= 29.9) {
        result = "Overweight";
      } else if (30 <= bmi && bmi <= 34.9) {
        result = "Obese";
      } else if (35 <= bmi) {
        result = "Extremely Obese";
      }

      // Display the result
      resultSection.style.display = "block";
      document.getElementById("resultValue").innerHTML = bmi.toFixed(2);
      document.getElementById("bmiCategory").innerHTML = result;
    }

    function closeModal() {
      var modal = document.getElementById("myModal");
      modal.style.display = "none";
    }
    displayResult();

  </script>
  
{% endblock content %}
