{% extends "layout.html" %}
{% block content %}
<!-- <div class="container" 
<p>
  <small> Supported languages: Albanian, Arabic, Armenian, Awadhi, Azerbaijani, Bashkir, Basque,Belarusian, Bengali,
    Bhojpuri, Bosnian, Brazilian Portuguese, Bulgarian, Cantonese (Yue), Catalan, Chhattisgarhi, Chinese, Croatian,
    Czech, Danish, Dogri, Dutch, English, Estonian, Faroese, Finnish, French, Galician, Georgian, German, Greek,
    Gujarati, Haryanvi, Hindi, Hungarian, Indonesian, Irish, Italian, Japanese, Javanese, Kannada, Kashmiri, Kazakh,
    Konkani, Korean, Kyrgyz, Latvian, Lithuanian, Macedonian, Maithili, Malay, Maltese, Mandarin, Mandarin Chinese,
    Marathi, Marwari, Min Nan, Moldovan, Mongolian, Montenegrin, Nepali, Norwegian, Oriya, Pashto, Persian (Farsi),
    Polish, Portuguese, Punjabi, Rajasthani, Romanian, Russian, Sanskrit, Santali, Serbian, Sindhi, Sinhala, Slovak,
    Slovene, Slovenian, Spanish, Swahili, Swedish, Tajik, Tamil, Tatar, Telugu, Thai, Turkish, Turkmen, Ukrainian,
    Urdu, Uzbek, Vietnamese, Welsh, Wu
  </small>
  </p>
</div> -->
<div class="chat_window">

  <div class="top_menu">
    <div class="title">Fitness Coach:</div>
  </div>
  <ul class="messages"></ul>
  <div class="bottom_wrapper clearfix">
    <div class="message_input_wrapper">
      <input class="message_input" placeholder="Type your message here..." />
    </div>
    <div class="send_message">
      <div class="icon"></div>
      <div class="text">Send</div>
    </div>
    <!--
        <button id="refreshBtn" class="btn btn-primary form-control" onclick="location.reload()">Refresh</button>
        -->
  </div>
  <div class="message_template">
    <li class="message">
      <div class="avatar"></div>
      <div class="text_wrapper">
        <div class="text"></div>
      </div>
    </li>
  </div>

</div>
</div>

<script>
  (function () {
    var Message;
    Message = function (arg) {
      this.text = arg.text, this.message_side = arg.message_side;
      this.draw = function (_this) {
        return function () {
          var $message;
          $message = $($('.message_template').clone().html());
          $message.addClass(_this.message_side).find('.text').html(_this.text);
          $('.messages').append($message);
          return setTimeout(function () {
            return $message.addClass('appeared');
          }, 0);
        };
      }(this);
      return this;
    };
    $(function () {
      var getMessageText, message_side, sendMessage;
      message_side = 'right';
      getMessageText = function () {
        var $message_input;
        $message_input = $('.message_input');
        return $message_input.val();
      };


      sendMessage = function (text) {
        var $messages, message;
        if (text.trim() === '') {
          return;
        }
        $('.message_input').val('');
        $messages = $('.messages');

        // Set message_side based on whether the message is from the user or chatbot
        var message_side = 'right';

        message = new Message({
          text: text,
          message_side: message_side
        });

        // Draw user message
        message.draw();

        // Call getResponse() to get the chatbot's response
        $.get("/get", {
          msg: text
        }).done(function (data) {
          var botMessage = new Message({
            text: data,
            message_side: 'left'
          });


          // Draw bot message
          botMessage.draw();
          $messages.animate({
            scrollTop: $messages.prop('scrollHeight')
          }, 300);
        });

        return $messages.animate({
          scrollTop: $messages.prop('scrollHeight')
        }, 300);
      };

      $('.send_message').click(function (e) {
        return sendMessage(getMessageText());
      });
      $('.message_input').keyup(function (e) {
        if (e.which === 13) {
          return sendMessage(getMessageText());
        }
      });
      // Add "Writing..." message
      writingMessage = new Message({
        text: 'FitnessBot here, how can I help you today?. Fluent in 95 languages, I am always ready to assist you quickly and efficiently. Just type!',
        message_side: 'left'
      });
      writingMessage.draw();

    });
  }.call(this));
</script>
{% endblock content %}