{% extends "layout.html" %}
{% block content %}

    <script src="https://cdn.jsdelivr.net/npm/chart.js">

    </script>
    <div class="alert alert-success" role="alert">
        <h4>Great job with the progress</h4>
        <hr>
        <p>
            {% if burn_rate > 0 %}
                Continue gaining <b>{{ burn_rate | abs }}</b> calories every day to achieve your goal on <b>{{ target_date }}</b>
            {% else %}
                Continue burning <b>{{ burn_rate | abs }}</b> calories every day to achieve your goal on <b>{{ target_date }}</b>
            {% endif %}
        </p>
    </div>
    <div class="user-chart">
        <div>
            <canvas id="myChart" width="1000" height="400"></canvas>
        </div>
    </div>


    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        let delayed;
        let isBurn;
        {% if burn_rate > 0 %}
            isBurn = false
        {% else %}
            isBurn = true
        {% endif %}
        console.log(isBurn)
        const chart = new Chart(ctx, {
            type: "bar",
            data: {
                labels: {{ labels | safe}},
                datasets: [
                    {
                        label: "Calories",
                        data:{{values | safe}},
                        fill: false,
                        lineTension: 0.1
                    }
                ]
            },
            options: {
                responsive: false,
                elements: {
                    bar: {
                        backgroundColor: function (context) {
                            if (isBurn) {
                                const index = context.dataIndex;
                                const value = context.dataset.data[index];
                                return value < 0 ? '#84d320' : 'rgba(220,20,60,0.91)';
                            } else {
                                const index = context.dataIndex;
                                const value = context.dataset.data[index];
                                return value < 0 ? 'rgba(220,20,60,0.91)' : '#84d320';
                            }
                        },
                    }
                },
                plugins: {
                    title: {
                        display: true,
                        text: 'Net calories in the last 7 days',
                        font: {
                            size: 15,
                        }
                    },
                    legend: {
                        display: false
                    }
                },
                scales: {
                    x: {
                        grid: {
                            display: false
                        }
                    },
                    y: {
                        grid: {
                            display: false
                        }
                    }
                },
                animation: {
                    onComplete: () => {
                        delayed = true;
                    },
                    delay: (context) => {
                        let delay = 0;
                        if (context.type === 'data' && context.mode === 'default' && !delayed) {
                            delay = context.dataIndex * 150 + context.datasetIndex * 100;
                        }
                        return delay;
                    },
                },
            },
        });
    </script>
    </div>



{% endblock content %}