{% extends "layout.html" %}
{% block content %}

<script src="https://cdn.jsdelivr.net/npm/chart.js">

</script>
    <div class="content-section">
        <form method="POST" onSubmit="event.preventDefault(); return history(event)" name='historyForm'>
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">History</legend>
                <div class="form-group">
                    <label class="form-control-label">Date</label>
                    <input type="date" name="date" required>
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}

            </div>
        </form>
    </div>
    <div id="history-data card">
        <h5 class="card-header">History</h5>
        <div class="card-body">
            <p class="border-bottom mb-4 h6" id="date_legend"></p>
            <p class="card-text" id="date"></p> <br>
            <p class="border-bottom mb-4 h6" id="calories_legend"></p>
            <p class="card-text" id="calories"></p> <br>
            <p class="border-bottom mb-4 h6" id="burnout_legend"></p>
            <p class="card-text" id="burnout"></p> <br>
        </div>


        <div>
            
        <canvas id="myChart" width="400" height="400"></canvas>
        </div>

        

        <script>
            var ctx=document.getElementById('myChart').getContext('2d');
            var chart=new Chart(ctx, {
                type:"bar",
                data:{
                    labels:{{ labels | safe}},
                    datasets:[
                        {
                            label:"data points",
                            data:{{values | safe}},
                            fill:false,
                            borderColor:"rgb(75,192,192)",
                            lineTension:0.1
                        }
                    ]
                },
                options:{
                    responsive:false
                }
            })
        </script>

    </div>



{% endblock content %}